#cabeceraweb{
	background-color: #00f;
}

#navegacionPrincipal{
	background-color: #00e;
}

#barraLateral{
	background-color: #0fa;
}

#contenidoPrincipal{
	background-color: #00a;
}

#piePrincipal{
	background-color: #0fa;
}